<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="IMapper" type="iBatisUnityTest.DataMapper.IMapper, iBatisUnityTest"/>
      <typeAlias alias="Mapper" type="iBatisUnityTest.DataMapper.Mapper, iBatisUnityTest"/>
      <typeAlias alias="ITestUserDao" type="iBatisUnityTest.Dao.ITestUserDao, iBatisUnityTest"/>
      <typeAlias alias="TestUserDao" type="iBatisUnityTest.Dao.TestUserDao, iBatisUnityTest"/>
      <typeAlias alias="ITestUserService" type="iBatisUnityTest.Service.ITestUserService, iBatisUnityTest"/>
      <typeAlias alias="TestUserService" type="iBatisUnityTest.Service.TestUserService, iBatisUnityTest"/>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    </typeAliases>
    <containers>
      <container name="dt">
        <types>
          <!--<type type="IMapper" mapTo="Mapper">
            --><!--<lifetime type="singleton"/>--><!--
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>-->
          <!--<type type="ITestUserDao" mapTo="TestUserDao">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">

            </typeConfig>
          </type>-->

          <!--Service-->
          <type type="ITestUserService" mapTo="TestUserService">
            <lifetime type="singleton"/>
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="UserDao" propertyType="TestUserDao">
                <dependency />
              </property>
              <property name="DataMapper" propertyType="Mapper">
                <dependency />
              </property>
            </typeConfig>
          </type>

          <!--Controller-->
          <type type="iBatisUnityTest.Controllers.TestController,iBatisUnityTest">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
              <property name="UserService" propertyType="TestUserService">
                <dependency />
              </property>
            </typeConfig>
          </type>
        </types>

        <instances>
          <add name="sqlMapperPath" type="System.String" value="Setting/ORM/sqlMap.config" />
          <!--<add name="QZJSqlMapperPath" type="System.String" value="Setting/ORM/QZJSqlMap.config" />-->
        </instances>

      </container>
    </containers>
  </unity>
</configuration>

