@using MVCDemo.ViewModels.SPA
@model EmployeeListViewModel

<div>
    @{ 
        Html.RenderAction("GetAddNewLink");
    }
    <table border="1" id="EmployeeTable">
        <tr>
            <th>Employee Name</th>
            <th>Salary</th>
        </tr>
        @foreach(var emp in Model.Employees) {
            <tr>
                <td>@emp.EmployeeName</td>
                <td style="background-color:@emp.SalaryColor">@emp.Salary</td>
            </tr>
        }
    </table>
</div>
